.gridImages {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 35px;
    justify-content: center;
}

@media (max-width:560px) {
    .gridImages {
        grid-template-columns: 100%,
    }
}

h2{
    text-align: center;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}