.image {
    width: 250px;
    height: 150px;
    cursor: pointer;
    padding-right: 45px;
    border-radius: 6px;
}


@media (max-width:560px) {
    .image {
        width: 250px;
        height: 150px;
        cursor: pointer;
        padding-right: 45px;
        border-radius: 6px;
    }
}